.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# *.wav
# *.mp4
# *.mov
# *.avi
# *.mkv

*.npy
*.npz
*.mat
*.h5
*.hdf5
*.bin
*.dat
*.rtcm3
*.obs
*.nav

data/
datasets/
raw/
captures/
outputs/
results/
figures/
plots/
